.requests-pages-wrapper{
    
    .home-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .request-list-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0;

        .each-request-list-wrapper{
            width: 100%;
            display: grid;
            grid-template-columns: 60px calc(100% - 60px);
            padding: 1rem 0;
            border-bottom: 1px solid #6e6e6e;
            svg{
                font-size: 2rem;
            }

            .request-info{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem 0;

                .requester-name-time{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .requester-name{
                        font-size: 1rem;
                        color: #bdbdbd
                    }

                    .requester-date{
                        font-size: 0.9rem;
                        color: #bdbdbd
                    }
                    
                }

                .requesting-language{
                    font-size: 1rem;
                    font-weight: 100;
                    color: #ffffff;
                }

                .requesting-message{
                    font-size: 0.9rem;
                    font-weight: 100;
                    color: #dedede;
                }

            }
        }
    }
}